<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Made_Queue>
            <version>1.0.0</version>
        </Made_Queue>
    </modules>
    <global>
        <models>
            <queue>
                <class>Made_Queue_Model</class>
                <resourceModel>queue_resource</resourceModel>
            </queue>
            <queue_resource>
                <class>Made_Queue_Model_Resource</class>
                <entities>
                    <job>
                        <table>made_queue_job</table>
                    </job>
                </entities>
            </queue_resource>
        </models>
        <resources>
            <queue_setup>
                <setup>
                    <module>Made_Queue</module>
                </setup>
            </queue_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <queue>
                                            <title>Queue Management Section</title>
                                        </queue>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <queue_execute_jobs>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>queue/worker::executeJobs</model>
                </run>
            </queue_execute_jobs>
        </jobs>
    </crontab>
    <default>
        <queue>
            <general>
                <enabled>0</enabled>
            </general>
        </queue>>
    </default>
</config>