<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Made_Queue>
            <version>1.0.0</version>
        </Made_Queue>
    </modules>
    <global>
        <models>
            <made_queue>
                <class>Made_Queue_Model</class>
            </made_queue>
        </models>
    </global>
    <crontab>
        <jobs>
            <queue_execute_jobs>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>made_queue/worker::executeJobs</model>
                </run>
            </queue_execute_jobs>
        </jobs>
    </crontab>
</config>
